@font-face {
    src: url(Fonts/QueensidesLight-ZVj3l.ttf);
    font-family: Queens;
}
* {
    box-sizing: border-box;
    font-family:Queens;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column; /* Make it a flex container (create a flexible layout)*/
    background-color: rgb(255, 255, 255);
    min-height: 100vh; /* Make sure the body takes at least the full viewport height */
}

/* Flexbox for main elements */

header {
    flex: 1;
}
main {
    flex: 2;
    flex-grow: 100;
}
footer {
    flex: 3;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 26, 29);
    text-align: center;
    color: white;
    padding: 25px;
    white-space: nowrap;
    text-decoration: none;
}
header li {
    display: inline-block;
    padding: 20px;
    list-style: none;
    font-size: 20px;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    color: rgb(215, 255, 215);
}
.logo {
    cursor: pointer;
}

/* Main */

#thisWeb {
    color: rgb(70, 122, 70);
}
#mole {
    color: rgb(70, 122, 70);
}
#mole a:visited {
    color: rgb(70, 122, 70);
}
#flappy {
    color: rgb(70, 122, 70);
}
#projects {
    padding-left: 7%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 25px;
}

.projList {
    padding-left: 2%;
    list-style-type: disc;
}
.projList li {
    list-style-type: square;
    margin: 10px; /* Add some margin between list items */
    font-size: 20px;
}
#vid {
    padding-bottom: 2%;
}

/* Next Arrow */

#next {
    position: fixed;
    width: 2%;
    height: 5%;
    top: 50%;
    left: 92%;
}
#next:hover {
    transform: scale(1.5);
}

/* Footer */

footer {
    background-color: rgb(25, 26, 29);
    padding: 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
}
.icons {
    background-color: white;
    width: 30px;
    height: 30px;
    display: inline-block; /* Set icons to display inline, allowing them to be next to each other horizontally */
    margin-right: 10px; /* Spacing between icons */
    border-radius: 50%;;
    padding: 5px;
}

/* Small */
@media (max-width: 640px) {
    header,
    header li {
        font-size: 1rem;
    }
}
/* Xtra-Small */
@media (max-width: 475px) {
    header,
    header li {
        font-size: 1rem;
    }
    iframe {
        width:400px;
    }
}
